[Unit]
Description=Gungnir service
After=network.target

[Service]
ExecStart=/bin/gungnir
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target

